html,
body {
    height: 100%;
    margin: 0;
    min-height: 100vh;
    background-color: rgb(2, 32, 46);
    background-image: url("https://res.cloudinary.com/ddkeznwic/image/upload/v1775745700/jujutsu-kaisen-sengaku-soran-4k-wz_eykdhe.jpg");
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
    
}

body {
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/ddkeznwic/image/upload/v1775745700/jujutsu-kaisen-sengaku-soran-4k-wz_eykdhe.jpg");
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

header img {
    width: 100%;
    max-width: 1000px;
}

header {
    font-family: 'Noto Sans JP', sans-serif;
    position: relative;
    top: -100px;
}

header h1 {
    color: khaki;
    font-size: 30px;
    position: relative;
    top: -90px;
    font-style: italic;
}

footer {
    padding: 10px;
}

nav ul {
    position: relative;
    top: -50px;
    list-style: none;
    display: flex;
    gap: 40px;
    justify-content: center;
    padding-left: 1px;
}

nav a {
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    
}


#login {
    text-align: right;
    padding: 20px;
}

#login button {
    background-color: #f5e6a3;
    font-weight: bold;
    color: black;
}
.galeria {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
@media (max-width: 768px) {

    body{
        background-color: red;
    }
}