html,
body {
    height: 100%;
    margin: 0;
    min-height: 100vh;
    background-color: rgb(2, 32, 46);
    background-image: url("https://res.cloudinary.com/ddkeznwic/image/upload/v1775832696/JJK_Wallpapaper_1_zpebg0.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

body {
    text-align: center;

}

.login {
    position: absolute;
    top: 50px;
    left: 82%;
}

.login button {
    background-color: #f5e6a3;
    font-weight: bold;
    color: black;
}


header img {
    width: 80%;
    max-width: 800px;
}

header {
    font-family: 'Noto Sans JP', sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
    padding-bottom: 5%;
}

header h1 {
    color: khaki;
    font-size: 30px;
    position: relative;
    top: -90px;
    font-style: italic;
}


nav ul {
    position: relative;
    top: -50px;
    list-style: none;
    display: flex;
    gap: 40px;
    justify-content: center;

}

nav a {
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: white;

}

main {
    margin-top: 20%;
    margin-bottom: 20%;
}

.contenedor1,
.contenedor2 {
    position: relative;
}

.contenedor1,
.contenedor2 img {
    height: auto;
}

.titulo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: -5px;
    padding-right: 44px;

}

.historia1 {
    position: absolute;
    text-align: center;
    color: #4e0303;
    font-family: 'MS Mincho', serif;
    font-size: 25px;
    max-width: 550px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    letter-spacing: 0;
}


.ofoda {
    width: 500px;
}

.ofoda1 {
    width: 900px;
}

.galeria {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.redes a {
    margin: 20px;
    color: #a7321e;
    text-decoration: none;
    transition: 0.6s;
}

.redes a:hover {
    color: #472101;
}

.redes {
    margin-top: 33px;
}

.redes i {
    font-size: 35px;
    padding-top: 27px;
}

footer {
    background-image: url("https://res.cloudinary.com/ddkeznwic/image/upload/v1775861528/footer_ruben_pe1ky4.png");
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 55px;

    padding-bottom: 40px;
}

@media (max-width: 768px) {


    

    html,
    body {
        background-image: url("https://res.cloudinary.com/ddkeznwic/image/upload/v1775832423/JJK_Wallpaper_2_hizjxc.png");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    .login {
        top: 40px;
        left: 40%;
    }

    header img {
        margin-top: 60px;
        padding-bottom: 25px;
        width: 100%;
        max-width: 1000px;
    }

    nav ul {
        top: -30px;
        flex-direction: column;
        align-items: center;
        gap: 22px
    }

    .ofoda {

        width: 200px;
    }

    .titulo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -52%);
        writing-mode: vertical-rl;
        text-orientation: upright;
        letter-spacing: -3px;
        padding-right: 20px;
        font-size: 14px
    }

    .galeria img {
        width: 250px;
    }
        .ofoda1{
        width:400px;
    }
    .historia1 {
    font-size: 11px;
    transform: translate(-50%, -56%);
}
.redes a {
    margin: 8px;
}
    .redes i {
    font-size: 18px;
    padding-top: 28px;
}
    
footer {
    background-size: 260px;
    padding: 20px;
    padding-bottom: 40px;
}

}