
body {
    text-align:center;
    background-color:darkred;
}
html, body{
    height: 100%;
    margin:0;
}
header img{
    width:500px;
}
header {
    position: relative;
    top: -40px;
}
main{
    flex: 1;
}
.masterColor {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color:red;
}
footer{
    padding: 10;
}
nav ul{
    list-style:none;
    display:flex;
    gap:40px;
    justify-content: center;
    padding-left:1px;
}
nav a {
    font-size: 17px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-family: 'Segoe UI Emoji';
}
#login{
    padding-left:75%;
    padding-top: 40px;
}
#login button{
    background-color:khaki;
    font-weight: bold;
    color:black;
}@media (max-width: 600px) {
  body {
    font-size: 14px;
    padding: 10px;
  }

  footer {
    font-size: 12px;
    padding: 8px;
  }
}

